/* Body */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
}

/* Game Container */

.container, .playable {
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

/* Sherrif Graphic */

.sherrif {
    display: inline-block;
    height: 40%;
    width: 80%;
}

.sleeping-sherrif {
    width: 100%;
    height: 100%;
}

/* Wins and Losses */

.wins-losses {
    display: inline;
    float: right;
    height: 40%;
    width: 20%;
    background: rgba(194, 194, 194 , .2);
}

.wins, .losses, .wins-num, .loss-num {
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    text-align: center;
    font-family: 'Rye';
    font-size: 20px;
    color: wheat;
    padding-top: 30px;
}

/* Game Interface */

.interface {
    height: 60%;
    display: flex;
}

.ransom, .graphic, .score {
    width: 34%;
    height: 100%;
    display: inline-block;
    margin: 0;
}

/* Goal Number and Score Display*/

.ransom, .score {
    padding: 100px 10px 0px 10px;
    box-sizing: border-box;
}

.heading, .display {
    width: 100%;
    font-size: 50px;
    font-family: 'Rye';
    text-align: center;
    color: wheat;
}

/* Gem Buttons */

.gems{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.top-shelf, .bottom-shelf {
    width: 100%;
    height: 50%;
    padding: 0 10% 0 10%;
}

.gem1, .gem2, .gem3, .gem4 {
    width: 40%;
    height: 100%;
    display: inline-block;
}

.gem1-img, .gem2-img, .gem3-img, .gem4-img {
    width: 100%;
    height: 100%;
}